.notification-manager-editor {
  position: relative;
  .search {
    position: absolute;
    border: none;

    .autosuggest {
      max-height: 400px;
      overflow-y: scroll;
      display: block;
      border: 1px solid #cdcdcd;
      box-shadow: 0 10px 12px rgba(0, 0, 0, 0.176);
      background-color: #fff;
      top: 0;
      .plain-search {
         ul {
           list-style: none;
           padding: 0;
           margin: 0;
           li {
             list-style: none;
             padding: 10px;
             line-height: 100%;
             &:hover, &.selected{
               text-decoration: none;
               background-color: #FBFBFB;
               cursor: pointer;
             }
           }
         }
      }
      .variable-option {
        .title {
          color: #FA5723;
          font-size: 0.8em;
          font-weight: bold;
        }
        .icon{
          margin: 7px 10px 0px 3px;
          color: #d5d5d5;
        }
        .description {
          font-size: 0.7em;
          color: #737373;
        }
        .type {
          font-size: 0.7em;
          display: block;
          color: #399f90
        }
        > span {
          float: left;
        }
      }
    }
  }
}