.notification-manager-editor {
  position: relative;
  .search {
    position: absolute;
    border: none;
    .autosuggest {
      max-height: 400px;
      overflow-y: scroll;
      display: block;
      top: 0;
      .variable-option {
        .title {
          font-weight: bold;
          color: #FA5723;
          .icon {
            color: #d5d5d5;
          }
        }
        .description {
          float: right;
        }
        .type {
          font-size: 16px;
          color: #399f90
        }
        > span {
          float: left;
        }
      }
    }
  }
}